
.form-container {
  background: #ffffff;
  width: 100%;
  max-width: 1350px;
  padding: 45px 55px;
  border-radius: 32px;
  box-shadow: 0 8px 22px rgba(239, 154, 154, 0.09);
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin: auto;
  font-family: "Inter", sans-serif;
}


.form-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 35px;
  color: #222;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px 45px;
}


.form-group label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
  display: block;
}


.input-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 14px;
  min-height: 44px; 
  border: 1.5px solid #bfbbbb;
  border-radius: 10px;
}


.input-box:focus-within {
  border-color: #7aa0ef;
  box-shadow: 0 0 0 3px rgba(122, 160, 239, 0.17);
}

.input-box .icon {
  width: 25px;
  height: 25px;
  color: #cbc6c695;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ✅ INPUT + SELECT */
.input-box input,
.input-box select {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: #333;
}

.input-box select {
  appearance: none;
  cursor: pointer;
}

/* ✅ SUBMIT BUTTON */
.submit-btn {
  grid-column: 1 / span 2;
  background: #618ae5;
  color: #fff;
  padding: 10px 28px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  width: 120px;
  transition: 0.2s;
}

.submit-btn:hover {
  background: #4b73d0;
}

/* ✅ DISCLAIMER */
.disclaimer {
  margin-top: 30px;
  font-size: 14px;
  color: #333;
}

.disclaimer ul {
  margin-top: 8px;
  padding-left: 22px;
}
