
.form-wrapper {
  background: #7fa6e7;
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}


.form-container {
  background: #ffffff;
  width: 90%;
  max-width: 1100px;
  padding: 35px 45px;
  border-radius: 18px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  font-family: "Inter", sans-serif;
}


.form-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #222;
}


.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px 35px;
}


.form-group label {
  font-size: 13px;
  font-weight: 600;
  color: #333;
  margin-bottom: 6px; 
   display: block;
}


.input-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 14px;
  height: 42px;
  background: #ffffff;
  border: 1.3px solid #c9c9c9;
  border-radius: 8px;
}


.input-box:focus-within {
  border-color: #7a9dea;
  box-shadow: 0 0 0 2px rgba(122, 157, 234, 0.22);
}


.input-box .icon {
  width: 23px;
  height: 23px;
  color: #b5b5b5;
  display: flex;
  justify-content: center;
  align-items: center;
}


.input-box input,
.input-box select {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #333;
}

.input-box select {
  appearance: none;
  cursor: pointer;
}


.submit-btn {
  background: #6c97e3;    
  color: #ffffff;
  padding: 10px 28px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  width: fit-content;     
  margin-top: 10px;
  grid-column: 1 / 3;      
  justify-self: start;     
}

.submit-btn:hover {
  background: #5379d4;
}


.disclaimer {
  margin-top: 25px;
  font-size: 13px;
  color: #222;
}

.disclaimer ul {
  margin-top: 6px;
  padding-left: 20px;
}


@media (max-width: 900px) {
  .form-grid {
    grid-template-columns: 1fr; 
  }

  .submit-btn {
    width: 50%; 
  }
}
