.header{
    background-color: rgb(178, 238, 238);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    z-index: 9999;
   
}
.logo{
    position: fixed;
    display: flex;
    justify-content: center;
}
.img{
    height: 45px;
    padding: 10px;
    
}
.h2{
    color: #ffff;     
    font-size: 20px;
    margin-left: 10px;   
}
