.header {
  background-color: rgb(178, 238, 238);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;         
  z-index: 9999;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px;      
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img {
  height: 45px;
}

.h2 {
  color: #f9f9f9;          
  font-size: 20px;
  margin-left: 10px;
  
}
.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}

.profile-icon {
  font-size: 28px;
  color: #555;
  
}

.logout-btn {
  background: #ffffff;
  color: #1395ff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
}

.logout-btn:hover {
  
  transform: translatey(1px)
}
.header-right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}


 .dropdown-menu {
  position: absolute;
  top: 60px;         
  right: 0;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  z-index: 10000;
  animation: fadeIn 0.15s ease-in;
  
} 

.dropdown-menu button {
  background: none;
  border: none;
  padding: 10px 20px;
  text-align: left;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-menu button:hover {
  background: #f3f3f3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown-box {
  position: absolute;
  top: 55px;
  left: 0;
  width: 220px;
  background: #fff;
  border-radius: 12px;
  padding: 12px 0;
  box-shadow: 0 4px 20px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: fadeIn 0.15s ease-in-out;
  cursor: pointer;
}
.dropdown-box.small {
  width: 160px;
}

.dropdown-box a {
  padding: 8px 20px;
  font-size: 15px;
  text-decoration: none;
  color: #000;
  /* cursor: pointer; */
}

.dropdown-box a:hover {
  background: #f5f7fa;
  /* cursor: pointer; */
}
.dropdown-item {
  padding: 8px 20px;
  font-size: 15px;
  color: #000;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f5f7fa;
}