/* ✅ Main Wrapper */
.otp-main-container {
  width: 100%;
  min-height: 100vh;
  background: #7ea4df;
  font-family: "Poppins", sans-serif;
}

.otp-navbar {
  padding: 20px 60px;
}

.logo-img {
  width: 80px;
}

/* ✅ WRAPPER */
.otp-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
}

/* ✅ LEFT SECTION */
.otp-left {
  width: 50%;
  text-align: center;
  color: white;
}

.dots {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.dot {
  height: 8px;
  width: 8px;
  background: white;
  opacity: 0.4;
  border-radius: 20px;
  margin: 0 3px;
}

.dot.active {
  opacity: 1;
}

.otp-hero-img {
  width: 60%;
  margin-top: 25px;
}

.otp-left-title {
  width: 80%;
  margin: auto;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 10px;
}

/* ✅ OTP CARD */
.otp-card {
  width: 34%;
  background: white;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.mobile-box {
  background: #f2f2f2;
  padding: 12px 20px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.edit-icon {
  cursor: pointer;
  font-size: 18px;
}

.enter-otp {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
}

/* ✅ OTP BOXES */
.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 15px 0;
}

.otp-box {
  width: 45px;
  height: 50px;
  font-size: 22px;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

/* ✅ Timer */
.resend-text {
  margin-top: 10px;
  font-size: 14px;
  color: gray;
}

.timer {
  color: #2b59ff;
  font-weight: bold;
}

/* ✅ Buttons */
.resend-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.sms-btn,
.wa-btn {
  width: 50%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #f2f2f2;
}

.wa-btn {
  background: #e6ffe6;
}

.submit-otp {
  width: 100%;
  padding: 14px;
  margin-top: 25px;
  border-radius: 10px;
  background: #2b59ff;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
